<template name="NewProject">
  <div class="modal hide fade" id="newProjectModal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Novo projeto</h3>
    </div>
    <div class="modal-body">
      <form id="newProjectForm">
        <fieldset>
          <legend>Hora de começar a trabalhar?</legend>
          <label>Qual o nome de seu projeto?</label>
          <input id="newProjectName" type="text" name="name" placeholder="Morra Seiya!" value="{{name}}">
          <span class="help-block">Comece com o pé direito e dê um nome bem bacana para o seu projeto</span>
          <label> Se você fosse twittar sobre esse projeto, o que você falaria? </label>
            <textarea id="newProjectDetails"type="textarea" name="details" rows="5">{{details}}</textarea>
        </fieldset>
      </form>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Cancelar</a>
      <a href="#" class="btn btn-primary createProjectButton" id="createProjectButton">Salvar</a>
    </div>
  </div>
</template>